@charset "UTF-8";
/* CSS Document */

/*-----********
    Embedded World event page for Quanta Computer Inc.
	Created by Sara Lin
	17. Feb. 2017 
	 
---------------*/


.inline_set {
	display:inline;
}

.bg-primary {
	background:url(../img/white_triangle_top.svg) no-repeat bottom;
	background-size:cover;
	background-position:0% 100%;
	

	padding:0px;
	position:relative;
}

.red_triangle_top {
	/*background:url(../img/red_triangle_top.svg) no-repeat;
	background-size:cover;
	background-position:0% 0%;*/
	width:100%;
	
	position:absolute;
	left:0px;
	bottom:-1px;
}

.qubo_img {
	position:absolute;
	left:-120px;
	bottom:-12px;
}

.qtbg {
	background:url(../img/qtbg_red.png) no-repeat;
	background-size:cover;
	min-height:350px;
	padding-bottom:200px;
	padding-top:50px;
}


/*#services {
	background:url(../img/red_triangle_top.svg) no-repeat bottom;
	background-size:cover;
	background-position:0% 100%;
}*/


.topic_box {
	min-height:300px;
}




.xline_bk {
	border:1px solid #999;
	max-width:100%; 
}

.xline_gr {
	border:1px solid #ececec;
	max-width:100%;
}

.margin50 {
	margin:50px 0;
}

.padding50 {
	padding:50px 0;
}

h3 {
	font-weight:bold;
}

h4 {
	font-size:14px;
	color:#999;
}

#news {
	position:relative;
}


.event_info {
	background:#E83436;
	min-height:500px;
	padding:0px;
}

.wh_triangle {
	background:url(../img/white_triangle_bottom.svg) top no-repeat;
	background-size:contain;
}

.datebg {
	
	
	background:url(../img/date_red.png) center no-repeat;
	background-size:contain;
	min-height:500px;
}

.einfo {
	margin-top:150px;
}

.einfo h2 {
	color:#fff;
}


.bg-dark h3 {
	font-weight:lighter;
}


.map {
	padding:0px;
	height:500px;
}




.intro-header {
	min-height:600px;
	padding:200px 0px;
}

.intro-header h1 {
	font-size:55px;
	font-weight:bold;
	
}

.news_contain p {
	line-height:1.5;
	margin:30px 0;
}


.news_contain h2 {
	font-size: 36px;
    margin-top: 60px;
    font-weight: 700;
}

.red_quote {
	border-left: 5px solid #E83436;
}









